*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
text-decoration: none;
}

ul li{
    list-style: none;
}


.t-color{
    color: white;
}

.bg-header{
    background-color: #1a4689ec;
}

.f-img{
    width: 40px;
}



/* Main */

    .destacados__inicio {
    margin-top: 2px;
    background-color: #1a4689ec;
    color: white;
    text-align: center;
    text-decoration: underline;
} 

/* Tarjeta */
    .tarjeta {
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
    height: 450px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.tarjeta__descrip{
    text-align: center;
    font-weight: 500;
}

.tarjeta__precio{
    font-weight: 600;
}

.btn__comprar{
    border: solid #A52502;
    background-color: #A52502;
    color: white;
    border-radius: 10px;
    padding: 10px 12px ;

}

.btn__ver{
    border:solid #A52502;
    border-radius: 10px;
    color:gray;
    padding: 10px 12px;
}

.slider{
    padding: 15px;
    display: flex;
    gap: 10px;
}

